/* 
    General Style*/
.scrollhorizontal{
    align-items: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}   
.link {
  color: yellow;
}
.link:hover {
   color: blue;
}
body {
background: url(https://e00-marca.uecdn.es/assets/multimedia/imagenes/2020/09/20/16006150784545.jpg) no-repeat center fixed;
background-size: cover;
height: 100%;
}